<!DOCTYPE html>
<html>
<head>
	<title>DJango Forms </title>
</head>
<body>
	
		<h3>DJANGO FORMS</h3>
		<form method="POST" action="{% url 'insert' %}">
			{% csrf_token %}	
       		{{ form.as_p }}
        <button type="submit">Save</button>
    	</form>
    	<form method="POST" action="{% url 'classview' %}">
    		{% csrf_token %}
    		<button type="submit">hit it</button>
    		
    	</form>

	
	
</body>
</html>